<!DOCTYPE html>
<html>
<head>
  <title>Catalog test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "catalog_test/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
